/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
    font: normal 18px/160% "PT sans", sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}