/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
    font: normal 18px/160% "PT sans", sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*------------------------------------------------------------------------------
   Base
------------------------------------------------------------------------------*/

body {
    font-family: "Averia Serif Libre", serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: #E6EDF1;
    
}

.wrapper{
    width: 1440px;
    margin: 0 auto;
}

/*------------------------------------------------------------------------------
   Mise en page
------------------------------------------------------------------------------*/
/*--------------*/
/*--- HEADER ---*/
/*--------------*/
header {
    max-height: 66px;
    background-color: #379AE3;
    position: sticky;   
    top: 0;
    z-index: 1000; 
}
header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header .wrapper ul {
    display: flex;
    gap: 50px;
    list-style-type: none;
}

header .wrapper ul li:hover {
    color: white;
}

header h1 {
    font: 700 1.5rem "Merriweather", serif;
}

header a {
    text-decoration: none;
    color: black;
}


header li {
    font: 700 1.05rem "Roboto", sans-serif;
}

header li:hover {
    cursor: pointer;
    
}

header button {
    width: 111px;
    height: 36px;
    border-radius: 5px;
    border: 3px solid black; 
    font: 700 1.05rem "Roboto", sans-serif;
    cursor: pointer;
}

header button:hover {
    background-color: gray;
}
/*--------------*/
/*--- HERO -----*/
/*--------------*/

.hero {
    height: 637px;
    background-image: url("../images/Hero.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero .boite {
    height: 437px;
    width: 550px;
    background-color: rgba(0, 0, 0, 0.70);
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 750px;
    font: 700 "Roboto", sans-serif;
    
}

.hero .boite h1 {
    color: #E67522;
    font-size: 4rem;
    margin-top: 0px;
    
}

.hero p {
    text-align: center;
    font: 700 1rem "Roboto", sans-serif;
    padding: 0 60px;
}

.hero button {
    background-color: #E67522;
    width: 350px;
    height: 36px;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    font: 700 0.9rem "Roboto", sans-serif;
    margin-top: 40px
}

.hero button:hover{
    background-color: grey;
    cursor: pointer;
}

/*--------------*/
/*-INFORMATION--*/
/*--------------*/
.information .wrapper{
    width: 1440px;
}

.information .intro {
    width: 800px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    font: 700 1.5rem "Merriweather", serif;
}

.information .intro p {
    font: 400 1rem "Roboto", serif;
}

.information .contenu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 40px;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
}

.information article {
    background-color: white;
    width: 370px;
    height: 785px;
    text-align: center;
    
}

.information article h3{
    font-size: 2rem;
    font-weight: bold;
    
}

.information article p {
    font-size: 1rem;
    font-weight: normal;
    padding: 0 20px;

}

.information button{
    border: none;
    color: black;
    background-color: #E67522;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    width: 150px;
    border: solid 4px;
}

.information button:hover{
    border: none;
    color: white;
    background-color: grey;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    border: solid 4px black;
}

.information .button1,.information .button1:hover {
    margin-top: 150px;
}

.information .button2,.information .button2:hover {
    margin-top: 73px;
}

.information .button3,.information .button3:hover {
    margin-top: 148px;
}

/*--------------*/
/*----FOOTER----*/
/*--------------*/

footer .wrapper {
    height: 270px;
    width: 100%;
    background-color: #CCDAE3;
}